body {
  background-image: url(../media/sky2.jpg);
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
a {
  color: rgb(227, 104, 112);
  font-weight: bold;
}
.weather-body {
  background-color: #ffffff05;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(15px);
  max-width: 600px;
  margin: 45px auto;
  border: 1px solid rgb(248, 246, 254);
  border-radius: 16px;
  padding: 30px;
}
header {
  border-bottom: 1px solid rgb(248, 246, 254);
  padding: 0 0 30px 0;
}
main {
  color: #f9f7fe;
}
.weather-body-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-body-info {
  display: flex;
  justify-content: space-between;
}
.weather-body-data {
  font-size: 16px;
  color: rgba(248, 246, 254);
  line-height: 24px;
  font-weight: 500;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  background: rgb(227, 104, 112);
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
main {
  padding: 30px 0;
}
.weather-body-info {
  display: flex;
  justify-content: space-between;
}
.weather-body-temp-container {
  display: flex;
}
.weather-body-icon {
  width: 88px;
  height: 88px;
}
.weather-body-temp {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}
.weather-body-unit {
  margin-top: 6px;
  font-size: 28px;
}
.weather-body-data {
  color: rgb(248, 246, 254, 0.8);
}
.weather-body-data strong {
  color: rgb(227, 104, 112);
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgb(0, 0, 0, 0.6);
}
